@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/text" as *;

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;

  @include tablet-small {
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }

  &__overview,
  &__structure,
  &__surface {
    text-transform: uppercase;
    @include mp-2;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none; /* Remove focus outline (may add custom focus styles instead) */
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    -moz-appearance: none; /* Remove default styles in Mozilla browsers */
    appearance: none; /* Remove default styles in modern browsers */
    font-family: "LeagueSpartan";

    @include tablet-small {
      border: 1px solid $grey;
      width: 100%;
      height: 4rem;
      border-radius: 0px;
      padding-left: 2rem;
    }
  }

  &__line {
    margin-left: -20px; /* Adjust this value to match the padding of the parent */
    margin-right: -20px;
    border: none;
    height: 1px;
    background-color: $grey;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
