@use "../partials/text" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;
/* Apply a consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
figure,
figcaption,
blockquote,
pre,
table,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Antonio";
}

p {
  font-family: "LeagueSpartan";
  font-weight: 300;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
  font-family: "Antonio";
}

/* Remove quotes from blockquote and q elements */
blockquote,
q {
  quotes: none;
}

/* Remove default table layout */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset font sizes and line heights */
body {
  line-height: 1.5;
  height: 100vh;

  background-color: $dark;
  color: white;
}

html {
  font-size: 62.5%;
}

/* Ensure images and media are responsive */
// img,
// video,
// canvas,
// svg {
//   max-width: 100%;
//   height: auto;
//   display: block;
// }

/* Reset form elements */
input,
textarea,
select,
button {
  font: inherit; /* Inherit font styles */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  padding: 0.5rem;
  outline: none;
  font-family: "LeagueSpartan", sans-serif;
}

/* Remove default styling for links */
a {
  color: inherit;
  text-decoration: none;
}

/* Define base layout styles */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
