@font-face {
  font-family: "Antonio";
  src: url(../../../public/fonts/Antonio-Medium.ttf) format("truetype");
  font-weight: 900; /* Use numeric values for font-weight */
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url(../../../public/fonts/Antonio-Medium.ttf) format("truetype");
  font-weight: 700; /* Use numeric values for font-weight */
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url(../../../public/fonts/LeagueSpartan-Medium.ttf) format("truetype");
  font-weight: 500; /* Use numeric values for font-weight */
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url(../../../public/fonts/LeagueSpartan-Light.ttf) format("truetype");
  font-weight: 300; /* Use numeric values for font-weight */
  font-style: normal;
}
