$white: #ffffff;
$darkBlue: #070724;
$darkGrey: #38384f;
$grey: #838391;
$lightBlue: #419ebb;
$lightOrange: #eda249;
$purple: #6f2ed6;
$mediumOrange: #d14c32;
$red: #d83a34;
$darkOrange: #cd5120;
$teal: #1ec2a4;
$darkBlue: #2d68f0;
