@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.nav {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid $grey;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  &__menu-close {
    height: 0; // Shrinks to 0 height on close
    opacity: 0; // Fade out on close
  }

  &__icon-name {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &__arrow-icon {
    height: 15px;
    width: 15px;
  }

  &__planet-icon {
    height: 20px;
    width: 20px;
    border-radius: 100px;
  }

  &__planet-name {
    @include m-h3;
    letter-spacing: 0.3rem;
  }

  &__menu-wrapper {
    height: 0; // Menu starts closed
    opacity: 0; // Invisible at first
    overflow: hidden; // Prevent content from spilling out
    transition: height 0.7s ease-in-out, opacity 0.7s ease-in-out; // Smooth transition for height and opacity
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    background-color: $dark;
    z-index: 1000;
  }

  &__menu-wrapper.open {
    height: 100vh; // Full height when menu is open
    opacity: 1; // Fully visible
    position: fixed; // Keep the menu fixed on open
    top: 10.5%; // Adjust the position when opened
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include mobile-large {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
