@use "./styles/partials/global" as *;
@use "./styles/partials/text" as *;
@use "./styles/partials/mixins" as *;

.wrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include mobile-medium {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
